<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu torneo</title>
    <link rel="stylesheet" href="../assets/css/crear-Torneo.css">
</head>
<body>
    <div class="torneo">

        <div class="Logo">
        <img src="../assets/Img/Vartyx.png" alt="Logo">
        </div>

        <h1>Crea tu torneo</h1>

        <div class="participantes">

            <div class="deporte">
                <label for="deporte">Deporte</label>

                <input
                    id="deporte"
                    type="text"
                    maxlength="24"
                    placeholder="Ej Fútbol">
            </div>
            <div class="jugadores">
                <label for="jugadores">Jugadores</label>

                <input
                    id="jugadores"
                    type="number"
                    min="1"
                    max="999"
                    placeholder="7">
            </div>

        </div>

        <div class="opcion">

            <input type="radio" name="formato" id="fase_unica">
            <label for="fase_unica">Fase única</label>

            <select id="select_fase_unica">
                <option>Cuadro eliminatorio</option>
                <option>Cuadro doble eliminación</option>
                <option>Liga todos contra todos</option>
                <option>Sistema suizo</option>
            </select>

        </div>

        <div class="opcion">

            <input type="radio" name="formato" id="multifase">
            <label for="multifase">Multifase</label>

            <select id="select_multi" >
                <option>Grupos todos contra todos</option>
                <option>Fase suiza</option>
            </select>

            <br><br>

            <select id="select_multi_2" >
                <option>Cuadro eliminatorio</option>
                <option>Cuadro doble eliminación</option>
            </select>

        </div>
        <button>
            Crear torneo
        </button>
    </div>
</body>
</html>