<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Buscar torneos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/proyecto.css">

    </head>

    <body>
        <img class = "fondo" src="../assets/Img/fondoV.jpeg" alt="">
        <header class = "Encabezado">

            <div class="logo-container"> 
                <img class="img-logoV"id="img-logoV" src="../assets/Img/logoV.png" alt="Logo" >  
            </div>

            <nav class = "nav_encabezado">
                <a class = "a_encabezado" href="index.html">Crear torneos</a>
                <a class = "a_encabezado" href="torneos.html">Buscar torneos</a>
                <a class = "a_encabezado" href="contacto.html">Contacto</a>
                <button class="btn-Inicio">Iniciar sesion</button>  
            </nav>

        </header>
        </main>
    </body>