<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Buscar torneos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/proyecto.css">

    </head>

    <body>
        <img class = "fondo" src="../assets/Img/fondoV.jpeg" alt="">
        <header>

            <div class="logo-container"> 
                
                <img class="img-logoV"id="img-logoV" src="../assets/Img/logoV.png" alt="Logo" >  

            </div>


            
            <nav>
                
                    <a href="index.html">Crear torneos</a>
                    <a href="torneos.html">Buscar torneos</a>
                    <a href="contacto.html">Contacto</a>
                    <button class="btn-Inicio">Iniciar sesion</button>
                
            </nav>
        </header>


        <main> 
            <h1>Buscar torneos</h1>
            <form class=" buscador">
                <label>Nombre de torneo:</label>
                <input type="text" placeholder="Buscar por nomnbre">
                <button type="submit">Buscar tornos</button>
                
            </form>
            <hr>
            <section class="resultado">
            <h2> Torneos actuales </h2>
            <p> Aquí se mostrarán los torneos actuales. </p>
            <div class="torneo">
                <h3>Torneo de ajedrez uy</h3>  
                    <p></p>lugar: Montevideo</p>    
            </div>
        <div class="estado">
    <span class="punto-verde"></span>
    En curso
</div>
            <div class="torneo">
                <h3> Torneo de futbol uy</h3>  
                    <p></p>lugar: Soreaneo</p> 
            </div>
         <div class="estado">
    <span class="punto-verde"></span>
    En curso
</div>   

            </section>
        </main>
    </body>