<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>Document</title>
    </head>
    <body>
        
        <img class = "fondo" src="../assets/Img/fondoV.jpeg" alt="">

    <div class="Formulario-Container">

        <div class="logo-container">

            <img id="img-logoV" src="../assets/Img/logoV.png" alt="Logo">
            <h2>Gestión de Torneos</h2>
            <p> Organizá tus torneos de forma fácil y rápida. </p>
    
        </div>
        <div class="Signup-Container">

            <div class = "encabezado">

                <h1>Bienvenido</h1>
                <p>Inicia sesión para continuar</p>

            </div>

            <form action = "inicio.html" class = "Formulario" method="post">
                
                <div class ="grupo_inputLBL">

                    <label class="lbl_inicio" for="email">Email</label>    
                    <input class="inpt_inicio" id="email" type="email" placeholder="ej@gmail.com" required >            
                    
                </div>
                <div class = "grupo_inputLBL">
                    
                    <label class="lbl_inicio" for="contraseña"> Contraseña </label>
                    <input class="inpt_inicio" id="contraseña"  type="password" placeholder="********" required>

                </div>             
                <div class = "grupo_inputLBL">
                    
                    <label class="lbl_inicio" for="Confirmarcontraseña"> Repetir Contraseña </label>
                    <input class="inpt_inicio" id="Confirmarcontraseña"  type="password" placeholder="********" required>

                </div>             
                <button class="btInicio" type="submit" > Registrarse </button>      

            </form>
            
            <p> --------------------------- O inicia sesion con ------------------------------ </p> 
            <button class = "btInicio "type="button">
                
                <span class = "Icono-Google">
                <img alt width = "18" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" >
                
            </span>

            <span> Google </span>

            </button>
            
            <p class = "Registro-Inicio"> ¿Ya tenes una cuenta? <a href="inicio.html"> Inicia Sesion </a> </p>
        </div>


    </div>
</body>
</html>



