<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>Document</title>
    </head>
    <body>
    <div class = "DiVideo">
        <video autoplay muted loop>
            <source src="../assets/videos/fondo inicio.mp4" type="video/mp4"> 
        </video>
    </div>

    <div class="Formulario-Container">
        <h1>Registrarse</h1>

            <div class = "Signup-Container">
    
                <input class = "inicio" type="text" placeholder= "Gmail o nombre de usuario">
                <input class = "inicio" type="password" placeholder= "Ingrese su contraseña">
                <input class = "inicio" type="password" placeholder= "Confirme la contraseña">
                <button class = "btRegistro" type="submit">Registrarse</button>

            </div>

            <div class = "logo-container">

                <p>Ya tenes una cuenta? Inicia sesion y accede a todas las caracteristicas de nuestra pagina</p>

            </div>
    </div>
</body>
</html>



