<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/style.css">
        <title>Document</title>
    </head>
    <body>
    <div class = "DiVideo">
        <video autoplay muted loop>
            <source src="../assets/videos/fondo inicio.mp4" type="video/mp4"> 
        </video>
    </div>
    <div class="Formulario-Container">

        <div class="Signup-Container">

            <h1>Bienvenido</h1>
            <p>Inicia sesión para continuar</p>
            <form class = "Formulario" method="post">
                <label id="lbl_inicio" for="email">Email</label>                  
                <input class="inpt_inicio" id="email" type="email" placeholder="ej@gmail.com" required >
                <label id="lbl_inicio" for="contraseña"> Contraseña </label>                   
                <input class="inpt_inicio" id="contraseña"  type="password" placeholder="********" required>
                <button class="btInicio" type="submit"> Iniciar sesión </button>                                   
                <button class="btRegistro" href = "registro.html" type="button"> Registrarse </button>                   
            </form>

        </div>

        <div class="logo-container">


            <img id="img-logoV" src="../assets/Img/logoV.png" alt="Logo">
            <h2>Gestión de Torneos</h2>
            <p> Organizá tus torneos de forma fácil y rápida. </p>
    
        </div>





    </div>
</body>
</html>



