*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    /* Paleta de Colores Universales */
    --color-principal: #170664;         /* Azul oscuro de marca */
    --color-principal-alfa: #170664CC;   /* Azul oscuro con 80% de opacidad */
    --color-principal-tarjeta: rgba(23, 6, 100, 0.75); /* Azul para fondos de tarjetas */
    --color-principal-cta: rgba(23, 6, 100, 0.55);     /* Azul sutil para el llamado a la acción */
    --color-bordes: #3106f1cc;
    --color-acento: #e8c25f;            /* Dorado/Amarillo para botones y hovers */
    
    --color-fondo-claro: #f5f5f5;       /* Gris muy claro para el fondo del body */
    --color-texto-oscuro: #333333;      /* Gris oscuro para texto sobre botones claros */
    --color-borde-blanco: rgba(255, 255, 255, 0.5); /* Blanco semitransparente */
    --color-borde-diferencial: #100641;
}
