*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root {
    
    --color-principal: #170664;         
    --color-principal-alfa: #170664CC;  
    --color-principal-tarjeta: rgba(23, 6, 100, 0.75); 
    --color-principal-cta: rgba(23, 6, 100, 0.55);     
    --color-bordes: #3106f1cc;
    --color-acento: #e8c25f;   
    --color-fondo: rgb(23, 3, 80);         
    
    --color-fondo-claro: #f5f5f5;      
    --color-texto-oscuro: #333333;      
    --color-borde-blanco: rgba(255, 255, 255, 0.5); 
    --color-borde-diferencial: #100641;
}
body{
    background-color: var(--color-fondo);
}
main{
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);

}
.header1{
    background-color: var(--color-acento);
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;

}
.header1-a{
    padding: 0 20px 0 0;

}
.header1-btn{
    margin: 0 0 0 0;

}
.header-main{
    display: flex;
    border: 1px solid var(--color-bordes);
    margin: 10px 5px 0px 5px; 
    background-color: var(--color-principal);

}
.header-main-volver a{
    text-decoration: none;
    color: white;

}
.header-main-info{
    color: white;
    font-size: 20px;    

}
.header-main-calendario{
    background-color: var(--color-principal-alfa);
    color: white;
    border: 2px solid var(--color-bordes);
    justify-content: space-between;

}
.header-main-calendario-inicio{   
    border: 1px solid;
    padding-top: 10px;

}
.header-main-calendario-final{
    border: 1px solid;
    padding-top: 10px;

}
.info-torneo{
    border: 1px solid var(--color-bordes);
    background-color: var(--color-principal-alfa);
    margin: 10px 5px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}
.info-torneo-a{
    padding: 0 15px 0 15px;
    text-decoration: none;
    font-size: 15px;
}
.info-total-general{
    border: 1px solid var(--color-bordes);
    background-color: var(--color-principal-alfa);
    margin: 10px 5px;
    justify-items: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.596);


}
.info-total-general1{
    border: 1px solid var(--color-bordes);
    padding: 15px;
    margin: 20px 5px;
    width: 90%;

}
.info-total-general h2{
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.786);
    border-bottom: 1px solid var(--color-acento);
}

.info-total-general2{
    border-bottom: 1px solid var(--color-bordes);
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.info-total-general2-tit{
    padding-bottom: 10px;
}
.info-total-cronograma{
    border: 1px solid var(--color-bordes);

}
@media (min-width: 768px){

}
@media (min-width: 1024px){

}