*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
     font-family: Arial,sans-serif;
     background-color: #8594c5d2;
     
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 5px 5px;
        background:rgb(69, 81, 148);
     
    }

    .btn-Inicio{
        background-color:#f3c260;
        color:rgb(248, 248, 248);
        border:none;
        padding: 5px 10px;
        border-radius: 30px;
    }

    .btn-Inicio:hover{
         transform: scale(1.05);
    }
    .logo-container{
        font: size 20px;
        font-weight: bold;
    }

    .img-logoV{
        width: 50px;
        height: auto;
        object-fit: cover;
        margin-bottom: auto;
    }
    nav{

        display:flex;
        gap:25px;
        align-items: center;

    }

    nav a{
        text-decoration:none;
        color:#fcf9f9;
        align-items: center;
        margin-right: 50px;
        font-size: 12px;
    }

    nav a:hover{
    color: #e8c25f;
    transition: 0.3s;
}

    nav button{
        background-color:#777674;
        background-color: #596691d2;
        border:none;
        padding: 5px 10px;
    }
main{
    width:90%;
     max-width: 450px;
     margin:auto;

}


.fondo{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}   
 h1{

    margin-bottom: 30px;
    text-align: center;
    color:white;

 }

 .buscador button {
    background:transparent
   
 }

.buscador{

    color:white;
}

    h2{

        margin: 30px;
        text-align: center;
        color:white;
      
    }
 

 h3{
    margin: 20px;
    font-size: 15px;
    text-align: center;
    color:white;
 }  

 

 .punto-verde{
    display:inline-block;
    width:10px;
    height:10px;
    background-color:green;
    border-radius:50%;
    margin-right:5px;
}


@media (min-width: 768px) {

    header{
        padding: 5px 10px;
        justify-content: space-between;
        align-items: center;
        margin-bottom:50px;
    }
    .torneo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

        .buscador {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
}



@media (min-width: 1024px){
    .torneo {
         max-width: 850px; 
        display: flex;
        padding: 60px;
        height: 500px;
        }

        .buscador {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header{
            padding: 5px 10px;
             justify-content: space-between;
            align-items: center;
        }   
}