*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
     font-family: Arial,sans-serif;
     background-color: #596691d2;
     
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 15px 46px;
        background:rgb(69, 81, 148);
     
    }

    .btn-Inicio{
        background-color:#f3c260;
        color:rgb(8, 8, 8);
        border:none;
        padding: 5px 10px;
        border-radius: 30px;
    }
    .logo-container{
        font: size 20px;
        font-weight: bold;
    }

    .img-logoV{
        width: 50px;
        height: auto;
        object-fit: cover;
        margin-bottom: 10px;
    }
    nav{

        display:flex;
        gap:25px;
        align-items: center;

    }

    nav a{
        text-decoration:none;
        color:#222;
        align-items: center;

    }

    nav button{
        background-color:#777674;
        background-color: #596691d2;
        border:none;
        padding: 5px 10px;
    }
main{
    width:90%;
     max-width: 450px;
     margin:auto;
}
 h1{

    margin-bottom: 30px;

 }

 .buscador button {
    background:transparent
   
 }
 
    h2{

        margin: 30px;
      
    }
 

 h3{
    margin: 20px;
    font-size: 20px;
 }  

 .punto-verde{
    display:inline-block;
    width:10px;
    height:10px;
    background-color:green;
    border-radius:50%;
    margin-right:5px;
}

@media (min-width: 768px) {

    header{
        padding: 30px 60px;
        justify-content: space-between;
        align-items: center;
    }
    .torneo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }

        .buscador {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
}



@media (min-width: 1024px){
    .torneo {
         max-width: 850px; 
        display: flex;
        padding: 60px;
        height: 500px;
        }

        .buscador {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header{
            padding: 60px;
             justify-content: space-between;
            align-items: center;
        }   
}