*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
 /* #region Contenedores */
.Formulario-Container{
    width: 450px;
    height: fit-content;
    min-width: 400px;
    padding: 0;
    display: flex;
    flex-direction: column; 
    background: linear-gradient(0deg, #0E1726, #1E2D4A); 
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden; 
}
.Signup-Container{
    width: 100%; 
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.logo-container{
    display: none;
    width: 100%;
    padding: 30px 20px;
    flex-direction: column;
    background: linear-gradient(0deg, white, grey);
    justify-content: center;
    align-items: center;

}
.Formulario{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px
   
}
.encabezado{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.encabezado_logo{
    width: 80px;

}
.encabezado_contenido{
    text-align: center;

}
p{
    margin: 10px;
    
    
}
.grupo_inputLBL{
    display: flex;  
    flex-direction: column;
    width: 100%;
    gap: 10px;
    
    
}
/* #endregion */

 .lbl_inicio{
    align-self: flex-start;
    text-align: left;
     
}
 .inpt_inicio{
    width: 100%;
    border-color: white;
    border-radius: 5px;
    padding-bottom: 5px;
    box-sizing: border-box; 
    background-color: transparent;
    padding: 10px;
    color: white;
 }
#img-logoV{
    width: 150px;
    object-fit: contain;


}
.btRegistro{
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(180deg, #5D5E60 0%, #737479 45%, #8D8D92 100%);
    

}
#inicio_sesion{
    text-decoration: none;  
}

.btInicio{
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100%;    
    max-width: 100%;
    background-color: transparent;

}

.Registro-Inicio{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.aInicio{
    text-decoration: none; 
    color: orange; 
}
.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Img/fondoV.jpeg);
    background-size: cover;
    background-position: center;
}   

@media (min-width: 768px) {
    .Formulario-Container {    
        flex-direction: row;  
        align-items: stretch; 
        width: 80%;
    }
    .encabezado_logo{
        display: none;
    }

    .logo-container {
        display: flex; 
        padding: 45px;
        flex: 0.5;
    }

    .inicio {
        width: 100%; 
    }
}

@media (min-width: 1024px){
     /*.Formulario-Container {
    } */

    .Signup-Container {
        padding: 30px; 
        align-items: center;
        justify-content: center;

    }

    .logo-container {
        padding: 30px;
    }
    

}