<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/infoTorneo.css">
    <title>Document</title>
</head>
<body>
    <header class = "header1">

        <div class="logo">
            <div class="logo-container">
                <!-- <img class="img-logoV" id="img-logoV" src="..\..\public\Img\logoV.png" alt="Logo"> -->
            </div>
        </div>
            
        <nav>
            <a class = "header1-a" href="principal.html">Principal</a>
            <a class = "header1-a" href="busquedaTorneos.html">Explorar torneos</a>
            <a class = "header1-a" href="contacto.html">Contacto</a>
            <a class = "header1-a" href="inicio.html"><button class="header1-btn">Iniciar sesion</button>
         </nav>

    </header>

    <main>
        <header class = "header2">
            <div class = "header2_info">
                <span>En curso</span>
                <h2>Copa Chimuchunga</h2>
                <li>Futbol - 23 vs 23 </li>
                <li>Montevideo, Uruguay</li>
                <span>12/16 Equipos inscritos</span>
            </div>
            <div class = "header2_calendario">
                    <div class = "header2_calendario-inicio">
                        <h4>Inicio</h4>
                        <p>15 Ago 2026</p>
                    </div>
                    <div class = "header2_calendario-final">
                        <h4>Fin</h4>
                        <p>30 Ago 2026</p>
                    </div>
            </div>
        </header>
        <nav class = "info-torneo">
                <a class = "info-torneo-a" href=""> Informacion</a>
                <a class = "info-torneo-a" href=""> Participantes</a>
                <a class = "info-torneo-a" href=""> Ranking</a>
                <a class = "info-torneo-a" href=""> Calendario</a>
                <a class = "info-torneo-a" href=""> Resultados</a>
                <a class = "info-torneo-a" href=""> Reglamento</a>
            </nav>
        <div class = "info-total">
            <div class = "info-total-general">
                <div class = "info-total-general1">
                    <p>Organizador</p>
                    <p>Estado</p>                    
                    <p>Formato</p>
                    <p>Duracion de los partidos</p>
                    <p>Equipos participantes</p>
                    <p>Equipos inscritos</p>
                    <p>Categoria</p>
                    <p>Sistema de puntuacion</p>
                    <p>Ubicacion</p>
                    <p>Zona horaria</p>
                <div class = "info-total-general2">
                    <p>Urunday Universitario</p>
                    <p>En curso</p>                    
                    <p>Eliminacion directa</p>
                    <p>60 minutos</p>
                    <p>16</p>
                    <p>12</p>
                    <p>Libre</p>
                    <p>Victoria: 3pts
                       Empate: 1pt
                       Derrota: 0pts
                    </p>
                    <p>Complejo deportivo Urunday Universitario</p>
                    <p>(UTC-03-00) Montevideo</p>
                </div>
                </div>
                
            </div>
            <div class = "info-total-cronograma">

            </div>
            <div class = "info-total-formato">

            </div>
            <div class = "info-total-participantes">

            </div>
            <div class = "info-total-proximos">

            </div>
            <div class = "info-total-recientes">

            </div>
            <div class = "info-total-estadisticas">

            </div>
            <div class = "info-total-organizador">
                
            </div>
            <div class = "info-total-anuncios">

            </div>
        </div>
    </main>



</body>
</html>