<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/infotorneo.css">
    <title>Document</title>
</head>
<body>
    <header class = "header1">

        <div class="logo">
            <div class="logo-container">
                <!-- <img class="img-logoV" id="img-logoV" src="..\..\public\Img\logoV.png" alt="Logo"> -->
            </div>
        </div>
            
        <nav>
            <a class = "header1-a" href="principal.html">Principal</a>
            <a class = "header1-a" href="busquedaTorneos.html">Explorar torneos</a>
            <a class = "header1-a" href="contacto.html">Contacto</a>
            <a class = "header1-a" href="inicio.html"><button class="header1-btn">Iniciar sesion</button></a>
         </nav>

    </header>

    <main>
        <header class = "header-main">
            <div class = "header-main-info">
                <span>En curso</span>
                <h2>Copa Chimuchunga</h2>
                <li>Futbol - 23 vs 23 </li>
                <li>Montevideo, Uruguay</li>
                <span>12/16 Equipos inscritos</span>
            </div>
            <div class = "header-main-calendario">
                    <div class = "header-main-calendario-inicio">
                        <h4>Inicio</h4>
                        <p>15 Ago 2026</p>
                    </div>
                    <div class = "header-main-calendario-final">
                        <h4>Fin</h4>
                        <p>30 Ago 2026</p>
                    </div>
            </div>
        </header>
        <nav class = "info-torneo">
                <a class = "info-torneo-a" href=""> Informacion</a>
                <a class = "info-torneo-a" href=""> Participantes</a>
                <a class = "info-torneo-a" href=""> Ranking</a>
                <a class = "info-torneo-a" href=""> Calendario</a>
                <a class = "info-torneo-a" href=""> Resultados</a>
                <a class = "info-torneo-a" href=""> Reglamento</a>
            </nav>
        <div class = "info-total">
            <div class = "info-total-general">
                <div class = "info-total-general1">
                    <div class = "info-total-general2"> 
                        <div class = "info-total-general2-tit">
                            <h2>Informacion General</h2>
                        </div>
                        <p> Organizador <br>
                            Estado <br>            
                            Formato <br>
                            Duracion de los partidos <br>
                            Equipos Participantes <br>
                            Equipos inscritos <br>
                            Categoria <br>
                            Sistema de puntuacion <br>
                            Ubicacion <br>
                            Zona horaria <br>
                        </p>
                    </div>
                    <div class = " info-total-general3">
                        <p> Urunday Universitario <br>
                            En curso <br>                    
                            Eliminacion directa <br>
                            60 minutos <br>
                            16 <br>
                            12 <br>
                            Libre <br>
                            Victoria: 3pts <br>
                            Empate: 1pt <br>
                            Derrota: 0pts <br>
                            Complejo deportivo Urunday Universitario <br>
                            (UTC-03-00) Montevideo <br>
                        </p>
                    </div>
                </div>
                <div>
                    <div class = "info-total-cronograma">
                        <div class = "info-total-general2-tit">
                            <h2>Informacion General</h2>
                        </div>
                        <p> 10 Ago Cierre de inscripciones <br>
                            15 Ago Comienza el torneo <br>
                            16 Ago Octavos de final <br>
                            22 Ago Cuartos de final <br>
                            27 Ago Semifinales <br>
                            30 Ago Final
                        </p>
                    </div>                    
                </div>
                <div class = "info-total-formato">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
                <div class = "info-total-participantes">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
                <div class = "info-total-proximos">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
                <div class = "info-total-recientes">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
                <div class = "info-total-estadisticas">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
                <div class = "info-total-organizador">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
                <div class = "info-total-anuncios">
                    <div class = "info-total-general2-tit">
                        <h2>Informacion General</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>