<!DOCTYPE html>
<html lang="es">
    <head>

     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../assets/css/principal.css">

    </head>

    <body>
        <img class = "fondo" src="../assets/Img/fondoV.jpeg" alt="">

        <header>

            <div class="logo"> 
                
                    <div class="logo-container">
                        <img class="img-logoV" id="img-logoV" src="../assets/Img/logoV.png" alt="Logo">
                    </div>

            </div>
            
            <nav>
                
                    <a href="principal.html">Principal</a>
                    <a href="proyecto.html">Buscar torneos</a>
                    <a href="contacto.html">Contacto</a>
                    <button class="btn-inicio">Iniciar sesion</button>
                

            </nav>
        </header>
       
        <main>
            <div class="contenido-titulo">
                
                <h1>Bienvenido a Vartyx</h1>

                

             <p>Aqui podras encontrar y hacer los torneos que quieras y donde quieras,tendras varias categorias
            <br />                    
            Podras crear torneos de cualquier tipo de juego, ya sea de mesa, cartas o videojuegos
<br />
                Podras ver puntajes y estadisticas de los torneos que se esten jugando en tiempo real

            </p>


        <div class="botones">
            <p>¿Que deseas hacer?</p>
            <button class="btn-principal">Crear torneo</button>
            <button class="btn-secundario"> Explorar torneos</button>
        </div>

        </div>

        </main>
            


    </body>

   
</html>