<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../public/css/style.css">
        <title>Document</title>
    </head>
    <body>
        
        <img class = "fondo" src="../../public/Img/FondoDos.jpeg" alt="">

    <div class="Formulario-Container-Registro">

        <div class="logo-container">
            <div class = "imagen-logo">

                <img id="img-logoV" src="../../public/Img/logoV.png" alt="Logo">

            </div>

            <div class = "Texto-Logo">

                <h2>Bienvenido devuelta! Ingresa tus datos y accede a todas las funcionalidades que ofrece nuestro sistema</h2>
                
            </div>

        </div>
        <div class="Signup-Container">

            <div class = "encabezado">

                <img class = "encabezado-foto" src="../../public/Img/logoV.png" alt="logo">
                <h1>Bienvenido</h1>
                <p>Inicia sesión para continuar</p>

            </div>

            <form action = "inicio.html" class = "Formulario" method="post">
                
                <div class ="grupo_inputLBL">

                    <label class="lbl_inicio" for="email">Email</label>    
                    <input class="inpt_inicio" id="email" type="email" placeholder="ej@gmail.com" required >            
                    
                </div>
                <div class = "grupo_inputLBL">
                    
                    <label class="lbl_inicio" for="contraseña"> Contraseña </label>
                    <input class="inpt_inicio" id="contraseña"  type="password" placeholder="********" required>

                </div>             
                <div class = "grupo_inputLBL">
                    
                    <label class="lbl_inicio" for="Confirmarcontraseña"> Repetir Contraseña </label>
                    <input class="inpt_inicio" id="Confirmarcontraseña"  type="password" placeholder="********" required>

                </div>             
                <button class="btInicio" type="submit" > Registrarse </button>      

            </form>
            
            <!-- <button class = "btInicio "type="button"> 
                
                <span class = "Icono-Google">
                <img alt width = "18" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" >
                
            </span>

            <span> Google </span>

            </button>-->
            <br>
            <p class = "Registro-Inicio"> ¿Ya tenes una cuenta? <a href="inicio.html"> Inicia Sesion </a> </p>

        </div>


    </div>
</body>
</html>



